@use 'vars';
 
.Header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}
.categoriesContainer{
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categoriesIcon {
    cursor: pointer;
}
.menu-logo {
    width: 35px;
    height: 35px;
    padding: 5px 5px 0px 10px;
    margin-right: 10px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 15px;
}
.navbar-left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
}
.navbar-right {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px 0;
}
.navbar-left ul li a{
    text-decoration: none;
    color: vars.$veryLightPink;
    border: 1px solid vars.$white;
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover{
    border: 1px solid vars.$hospitalGreen;
    color: vars.$hospitalGreen;
    font-size: vars.$md;
}
.navbar-email {
    color: vars.$veryLightPink;
    font-size: vars.$md;
    cursor: pointer;
}
.navbar-shopping-cart {
    border: none;
    background-color: transparent;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}
.navbar-shopping-cart img:hover {
    filter: opacity(0.4) drop-shadow(0 0 0 vars.$hospitalGreen);
}
.navbar-shopping-cart div {
    width: 15px;
    height: 15px;
    background-color: vars.$hospitalGreen;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right ul {
    margin: 0;
}
.lalisName {
    border: none;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: vars.$md;
    cursor: pointer;

    background-image: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 2100ms infinite;
}
@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}
.lalisName:visited,
.lalisName:active,
.lalisName:hover,
.lalisName:focus,
.lalisName:link {
    color: transparent;
}
.lalisName:link {
    text-decoration: none;
    outline: none;
}
@media (max-width: 640px) {
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
}
