@import 'vars';

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
}
.lalisName{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: var(--md);
    cursor: pointer;
}
.menu{
    display: none;
    margin-left: 15px;
}
.menu-logo{
    width: 35px;
    height: 35px;
    padding: 5px 5px 0px 10px;
    margin-right: 10px;
}        
.navbar-left{
    display: flex;
}
.navbar-left ul{
    margin-left: 15px;
}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
}
.navbar-right{
    height: auto;
    display: flex;
    cursor: pointer;
}
.navbar-right ul li:nth-child(1){
    padding-right: 20px;
}
.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    font-size: var(--md);
}
.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--md);
    cursor: pointer;
}
.navbar-shopping-cart{
    position: relative;
    margin-right: 22px;
}
.navbar-shopping-cart img:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 var(--hospital-green)); 
}
.navbar-shopping-cart div{
    width: 15px;
    height: 15px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right ul{
    margin: 0;
}
@media (max-width: 640px) {
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .navbar-shopping-cart{
        margin-right: 15px;
    }
}