@use 'vars';

.desktop-menu {
width: auto;
height: auto;
border: 1px solid vars.$veryLightPink;
border-radius: 6px;
padding: 20px 20px 0 20px;
position: fixed;
top: 50px;
right: 40px;
background-color: white;
z-index: 10;
}
.desktop-menu ul {
list-style: none;
padding: 0;
margin: 0;
}
.desktop-menu ul li {
text-align: end;
}
.desktop-menu ul li:last-child {
padding-top: 20px;
border-top: 2px solid vars.$veryLightPink;
}
.desktop-menu ul li:last-child a{
color: vars.$hospitalGreen;
}
.desktop-menu ul li a{
color: vars.$black;
text-decoration: none;
display: inline-block;
font-size: vars.$sm;
margin-bottom: 20px;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
font-weight: bold;
font-size: 1rem;
}