@import 'vars';

.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form-container {
    display: grid;
    width: 360px;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}
.secondary-button {
    width: 100%;
    height: 50px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    margin: 10px;
}
.value{
    color: var(--very-light-pink);
    font-size: var(--md);
}
.label {
    width: 100%;
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}