@use 'vars';

.NewPassword{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    min-width: 280px;
    overflow-x: auto;
}
.form-container {
    display: grid;
    width: 360px;
    padding: 15px;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}
.title{
    font-size: vars.$lg;
    margin-bottom: 12px;
    text-align: center;
}
.subtitle {
    color: vars.$veryLightPink;
    font-size: vars.$md;
    font-weight: 300px;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.label {
    width: 100%;
    font-size: vars.$sm;
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(vars.$textInputField);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: vars.$md;
    padding: 6px;
    margin: 15px 0;
}
.login-button {
    border: none;
    margin-top: 14px;
    margin-bottom: 30px;
    background-color: vars.$hospitalGreen;
    border-radius: 8px;
    color: vars.$white;
    width: 100%;
    cursor: pointer;
    font-size: vars.$md;
    font-weight: bold;
    height: 50px;
}
@media (max-width: 640px) {
.logo {
    display: block;
}
}