@import 'vars';

.Orders {
	width: 100%;
	height: calc(100vh - 50px);
	display: grid;
	place-items: center;
	padding-top: 50px;
}
.title {
	font-size: var(--lg);
	margin-bottom: 40px;
}
.Orders-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
}
.Orders-content {
	display: flex;
	flex-direction: column;
}