@import 'vars';

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.title-container {
    display: flex;
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
    cursor: pointer;
}
.title {
    font-size: var(--lg);
    font-weight: bold;
}
.product-detail{
    padding: 12px;
    width: 360px;
    position: absolute;
    right: 0;
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    object-fit: cover;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.shopping-cart img{
    margin: 0 10px;
    cursor: pointer;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background: var(--text-input-field);
    border-radius: 8px;
    padding: 0 24px;
    margin-bottom: 10px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.order p:nth-child(2){
    text-align: end;
    font-size: var(--sm);
    font-weight: bold;
}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 5px;
}
@media (max-width: 640px) {
    .product-detail {
        width: 100%;
        position: unset;
    }
}